
<div class="white-bg md-whiteframe-1dp" >
    <header class="md-accent-bg addusr" layout="row" layout-align="space-between center">
        <div class="title">
            Users<div class="groupovrvw text-boxed red-bg white-fg m-0">
              
            </div>
        </div>

        <!-- ADD CONTACT BUTTON --><md-button class="add-file-button md-fab md-warn inhead"
                                              ng-click="$ctrl.AddUserDialog($event)" aria-label="Add file" translate
                                              translate-attr-aria-label="CONTACT.NEW">
            <md-icon md-font-icon="icon-plus"></md-icon>
        </md-button>
        <!-- / ADD CONTACT BUTTON  -->
    </header>
   
    <table class="userstable dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
        <thead>
            <tr>
                <th>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Name</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Company</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Job title</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Town/City</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title"></span>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entry in $ctrl.profileList" ng-click="$ctrl.detail($event,entry,$index)">
                <td><img class="avatar" ng-src="{{entry.avatar}}" widht="48"></td>
                <td>{{ entry.username }}</td>
                <td>{{ entry.company }}</td>
                <td>{{ entry.job }}</td>
                <td>{{ entry.location }}</td>
                <td>
                    <md-button class="add-file-button md-fab md-warn"
                               ng-click="$ctrl.edit($event,entry,$index)">
                        <md-icon ></md-icon>
                    </md-button>
                </td>
                <tdmd-font-icon="icon-block-helper"><md-icon ></md-icon></td>
            </tr>
        </tbody>
    </table>
</div>